{% extends 'radhatamapp/base.html'%}
{% block content %}
    
    <!-- <img  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/ajax-loader.gif"/> -->

    <h4 style="background-color: rgb(235, 250, 222);border:2px solid black;">Data Structure</h4>
    <h4>Create/Compute Data Structure<a href="{% url 'radhatamapp:fieldfunction' action='createcalculated' id=0 %}">[+]</a></h4>
   
   
    {% if not entity %}
    <h4>FORM</h4>
    <form action="{% url 'radhatamapp:datastructure' action='create' id=0%}" method="POST" class="post-form"
        enctype="multipart/form-data">
        {%csrf_token%}
        {{form}}
        <input type="submit" />
    </form>
    {% endif %}


    {{entity}}
    <table id="table">
        {% for field in fields %}
        <tr>
            {% if field.type == 'CALCULATED' %}
                <td><a href="{% url 'radhatamapp:fieldfunction' action='edit' id=field.function.id %}">[C]</a>{{field}}</td>
            {% elif field.type == 'DERIVED' %}
                <td><a href="{% url 'radhatamapp:fieldfunction' action='edit' id=field.function.id %}">[D]</a>{{field}}</td>
            {% else %}
                <td>[P]{{field}}</td>
            {% endif %}
            <td>
                <select hx-indicator="#indicator" hx-trigger="change" hx-swap="none" name="{{field.name}}"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-post="{% url 'radhatamapp:edit_fieldtype' id=field.id %}">

                    {% for dtype in dtypes %}
                    <option {% if field.datatype == dtype.0 %} selected {% endif %} value={{dtype.0}}>
                        {{dtype.1}} </option>
                    {% endfor %}

                </select>
            </td>
        </tr>
        {% endfor %}

       
    </table>
    
    {% if entity %}
    <form hx-indicator="#indicator" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-post="{% url 'radhatamapp:datastructure' action='add_calculated_field' id=entity.id %}">

    <span class="">Derived Field</span>
    <input type="number" hidden name="level_field" value="{{level_field}}" />
    <select hx-indicator="#indicator" hx-trigger="change" name="function_id"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-post="{% url 'radhatamapp:dataprep' action='get_function_params' id=entity.id %}"
        hx-target="#function-form">
        <option></option>
        {% for function in functions_calculated_meta %}

        <option value="{{function.id}}">{{function.name}}</option>
        {% endfor %}


    </select>
    <div id="function-form"></div>
    <!-- <a href="{% url 'radhatamapp:dataprep' action='add_derived_column' id=entity.id %}">Add Derived Fields</a> -->
    <button type="submit">Add</button>
</form>
<tr><td><button hx-indicator="#indicator" hx-swap="none" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-post="{% url 'radhatamapp:datastructure' action='create_table' id=entity.id %}">Create Table </button></td></tr>

    {% endif %}

    <h4>Upload Data</h4>
    {% if entity %}



    <form action="{% url 'radhatamapp:datastructure' action='uploaddata' id=entity.id%}" method="POST" class="post-form"
        enctype="multipart/form-data">
        {%csrf_token%}
        {{dataupload_form}}
        <input type="submit" />
    </form>
    {% endif %}

    <h4>Children</h4>
    {% for field in fields %}
    {{field}}
    {% endfor %}
   

    {% if entity %}


   <h4>Add Child</h4>
   <form hx-post="{% url 'radhatamapp:datastructure' action='add_child' id=entity.id %}">
    {%csrf_token%}

    <select name="parent_field_id">
        <option></option>
        {% for field in fields %}
        <option value={{field.id}}>{{field.name}} </option>
        {% endfor %}
    </select>

    <select hx-target="#select-field" hx-indicator="#indicator" hx-trigger="change" name="child_entity_id"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-post="{% url 'radhatamapp:datastructure' action='add_child' id=entity.id %}">
        <option></option>
        {% for entity in entities_excluded %}
        <option {% if entity.name == entity.child %} selected {% endif %} value={{entity.id}}>{{entity.name}} </option>
        {% endfor %}
    </select>

    <select id="select-field" name="child_field_id"></select>
    <button type="submit">Submit</button>
    
</form>

{% endif %}

{% endblock %}
