{% extends 'radhatamapp/base.html'%}
{% block content %}
<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading" style="font-family:candara">Rapidiam</h1>
        <p class="lead text-muted">Load You Data, Cleanse, Enrich, Apply Available Functions or build your own, Visualize and build Data Apps for fun and profit.</p>
        <!-- <p>
          <a href="#" class="btn btn-primary my-2">Documentation</a>
          <a href="https://www.youtube.com/@rebataurrebataur2166" target="_blank" class="btn btn-secondary my-2">Youtube Channel</a>
        </p> -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </section>

  </main>
{% endblock %}