{% extends 'radhatamapp/base.html'%}
{% block content %}
    <h1>{{result}}</h1>
    <h4>Data Structure<a href="{% url 'radhatamapp:datastructure' action='create' id=0 %}">[+]</a></h4>
      
  
    <table>
       
            {% for entity in entities%}
            <tr>
            <td><a href="{% url 'radhatamapp:datastructure' action='display' id=entity.id %}">{{entity}}</a></td>
        </tr>
            {% endfor %}
 
        
    </table>


    <h4>Data Prep</h4>
    <table>
       
            {% for entity in entities%}
            <tr>
            <td><a href="{% url 'radhatamapp:dataprep' action='display' id=entity.id %}">{{entity}}</a></td>
        </tr>
            {% endfor %}
 
        
    </table>

    <h4>Data Viz</h4>
    <table>
       
            {% for entity in entities%}
            <tr>
            <td><a href="{% url 'radhatamapp:dataviz' action='display' id=entity.id %}">{{entity}}</a></td>
        </tr>
            {% endfor %}
 
        
    </table>

    <h4>Data Alerts (Coming Soon)</h4>
    <table>
       
            {% for entity in entities%}
            <tr>
            <!-- <td><a href="{% url 'radhatamapp:dataalerts' action='display' id=entity.id %}">{{entity}}</a></td> -->
        </tr>
            {% endfor %}
 
        
    </table>

    <h4>Functions</h4>
    <a href="{% url 'radhatamapp:fieldfunction' action='display' id=0 %}">Field Fucntions</a>
{% endblock %}